html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: #004d00; /* Dark green */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 300px;
    box-sizing: border-box;
    z-index: 1000;
}

/* App Logo */
.app-logo-container {
    margin-left: 35px;
    text-decoration: none;
}

.app-logo {
    height: 140px;
    width: auto;
    display: block;
    background: none;
    padding: 0;
    border: none;
    cursor: pointer;
}

.taiapp-text {
    margin-top: 400px;
    margin-left: 600px;
    font-size: 3rem;
    font-family: sans-serif;
}

